:root{
    --font-family-primary:"Inter", sans-serif;
    --font-size-11:0.69625rem;
    --font-size-44:2.784375rem;
    --font-size-25:1.56625rem;
    --font-size-19:1.218125rem;
    --font-size-9:0.60875rem;
    --font-size-13:0.87rem;
    --text-color-gray:#4D4D4D;
    --text-color-white:#fff;
    --text-weight-500:500;
    --btn-bg-color:#4caf4f;
    --bg-white:#fff;
    --bg-light-white:#F5F7FA;
    --btn-border-radius:0.17375rem;
    --padding-inline-22:1.391875rem;
    --padding-inline-100:6.264375rem;
    --padding-block-9:0.60875rem;
    --padding-block-11:0.69625rem;
    --gap-5:0.348125rem;
    --line-height-52:3.30625rem;
    --line-height-16:1.044375rem;
   

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body */
body{
    background-color:var(--bg-white);
    scroll-behavior: smooth;
}
html{
    font-size: 1rem;
}
/* button */
.btn{
    font-family: var(--font-family-primary);
    font-size: var(--font-size-11);
    font-weight: 500;
    background-color: var(--btn-bg-color);
    border-radius: var(--btn-border-radius);
    padding-inline:var(--padding-inline-22);
    padding-block:var(--padding-block-9) ;
    gap: var(--gap-5);
    color: var(--text-color-white);
    text-decoration: none;
}
/*list unstyled */
ul .unstyled{
    list-style: none;
}
/* nav-items  */
.nav-items{
    text-decoration: none;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-11);
    font-weight: var(--text-weight-500);
    color: var(--text-color-gray);
   padding: 1rem;

}
/* padding */
.padding{
    padding: 1rem;
}
/* flex */
.flex{display: flex;}
.justify-content-between{justify-content: space-between;}
.items-center{align-items: center;}
/* container */
.container{
    max-width: 1160px;
    margin: auto;
}
/* heading */
.heading{
    font-family: var(--font-family-primary);
    font-size: var(--font-size-44);
    font-weight: 600;
    color: var(--text-color-gray);
    line-height: var(--line-height-52);

}
.title{
    font-family: var(--font-family-primary);
    font-size: var(--font-size-11);
    font-weight: 400;
    color: var(--text-color-gray);
    line-height: var(--line-height-16);


}